REACT_APP_FIREBASE_API_KEY=AIzaSyAvTNh-91WOWEsLVu04lRRshpJlpJ6yMb0
REACT_APP_FIREBASE_AUTH_DOMAIN=coachingfinder-5bd16.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=coachingfinder-5bd16
REACT_APP_FIREBASE_STORAGE_BUCKET=coachingfinder-5bd16.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1085122910276
REACT_APP_FIREBASE_APP_ID=1:1085122910276:web:ce30b697dc8c454f46c411
REACT_APP_FIREBASE_MEASUREMENT_ID=G-10CDNXPFDF

# Google Places API
REACT_APP_GOOGLE_PLACES_API_KEY=your_google_places_api_key_here

